.clients{
  --card-item:6
}
  
  .client__link {
    border: 1px solid currentColor;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    color: var(--icons-color);
    justify-content: center;
    align-items: center;
    height: 92px;
    &:hover,
    &:focus {
    color: var(--accent-color)
  }
    transition: color var(--transition) 
  }
  
  .client__icon {
    fill: currentColor
  }
  
  
  